.breadcrumb {
    border: 0;
    background-color: transparent;
  }


@media (max-width: 576px) {

  #my-video {
    height: 300px;
    margin: 0 5px 0 5px;
  }

@media (min-width: 768px)  and (max-width: 992px) {

  #my-video {
    margin-bottom: 10px;
  }

  .social {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
  }
}

@media (min-width: 992px) {

  .vid-info {
    width: 50%;
    margin-left: 10px;
  }

  .wrapper {
    margin-bottom: 5%;
  }

  #my-video {
    margin-left: 15px;
    border: 2px solid #424242;
  }
}
