@media (min-width: 768px)  and (max-width: 992px) {

  .container {
    margin-top: 10px;
  }

  .card-img-top {
    width: 318px;
    height: 180px;
  }

  .btn {
    background-color: Transparent;
    letter-spacing: 2px;
    color: #01579B;
    border: 1px solid#01579B;
  }
 }
