.breadcrumb {
    border: 0;
    background-color: transparent;
  }

@media (min-width: 576px) and (max-width: 767px) {

  .container {
    margin-top: 15px;
    width: 90%;
  }

  .card-img {
    height: 100%;
    width: 100%;
  }

.card-title {
  display: none;
}

.social {
  margin-top: 10px;
}

.card {
  position: relative;
  margin: 10px;
  border: none;
}

.player-icon  {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 0 0 10px;
}

.card:hover {
  cursor: pointer;
}

.card:hover .card-img {
  filter: brightness(60%);
  transition: 0.3s ease-in;
  }
  .card:hover .card-title {
    display: block;
    position: absolute;
    transition: 0.3s ease-in;
    color: #fff;
    z-index: 10;
    bottom: 0;
  }
  .card:hover .player-icon {
    transition: 0.3s ease-in;
    color: #DD2C00;
  }
 }


@media (min-width: 768px)  and (max-width: 992px) {

  .container {
    margin-top: 10px;
  }

  #my-video {
    margin-bottom: 10px;
  }

  .card-img-top {
    width: 318px;
    height: 180px;
  }

  .social {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
  }

  .btn {
    background-color: Transparent;
    letter-spacing: 2px;
    color: #01579B;
    border: 1px solid#01579B;
  }
 }


@media (min-width: 992px) {

  body {
    color: #fff;
    background-color: #000;
  }

  .vid-info {
    width: 50%;
    margin-left: 10px;
  }


  .wrapper {
    margin-bottom: 5%;
  }

  .container {
    margin-top: 20px;
    width: 90%;
  }

  #my-video {
    margin-left: 15px;
    border: 2px solid #424242;
  }

  .card-inverse {
    width: 400px;
    margin-right: 1px;
  }

  .card {
    border: 2px solid #424242;
    margin-right: 5%;
    width: 100%;
  }

  .more-content .btn {
    display: none;
  }

  .show-row-first .card-title {
    display: none;
  }

  .show-row-first .player-icon  {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0 0 10px;
  }

   .card:hover {
    cursor: pointer;
  }

.card:hover .card-img {
    filter: brightness(60%);
    transition: 0.3s ease-in;
    }
    .show-row-first .card:hover .card-title {
      display: block;
      position: absolute;
      transition: 0.3s ease-in;
      color: #fff;
      z-index: 10;
      bottom: 0;
    }
    .card:hover .player-icon {
      transition: 0.3s ease-in;
      color: #DD2C00;
    }

    .more-content .card-title  {
      position: absolute;
      margin-bottom: 3px;
      bottom: 0;
      right: 0;
      padding-right: 5px;
    }

     .more-content .card:hover .card-title {
      display: none;
    }

    .more-content .card:hover .btn {
      transition: 0.6s ease-in;
      display: block;
      position: absolute;
      letter-spacing: 2px;
      top: 50%:
      left: 50%;
      background-color: Transparent;
      border-radius: 1;
      color: #fff;
      border: 2px solid #fff;
    }
 }


@media (min-width: 1200px) {
 }

@media (max-width: 576px) {
  .container {
    width: 97%;
  }

  .card-img {
    height: 100%;
    width: 100%;

  }

  #my-video {
    height: 300px;
    margin: 0 5px 0 5px;
  }
}
