@import "video-player";

.grid-item {
  width: 25%;
  padding: 2px;
}

.video-section {
  background-color: black;
}

.video-wrapper {
  width: 100%;
  border: 1px solid #222;
}

.video-details {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .video-wrapper {
    width: 992px;
    max-width: 100%;
  }

  .video-details {
    max-width: 992px;
  }
}

.card-black {
  border-radius: 0px;
  margin-bottom: 2rem;
}

.card-content-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-line-left {
  flex-grow: 1;
  height: 1px;
  background: linear-gradient(to left, #0275d8 , #f0ad4e);
}

.section-line-right {
  flex-grow: 1;
  height: 1px;
  background: linear-gradient(to right, #0275d8 , #f0ad4e);
}

.section-line-center {
  flex-grow: 1;
  height: 1px;
  background: linear-gradient(to right, #f0ad4e, #0275d8, #f0ad4e);
}

.video-thumbnail:hover .thumbnail-play-button {
  background-color: #0275d8;
}

.thumbnail-play-button {
  margin-left: -1em;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 8px;
  background-color: rgba(0,0,0,0.5);
  font-size: 1.2em;
  border-radius: 100%;
  -webkit-transition: border-color .4s,outline .4s,background-color .4s;
  -moz-transition: border-color .4s,outline .4s,background-color .4s;
  -ms-transition: border-color .4s,outline .4s,background-color .4s;
  -o-transition: border-color .4s,outline .4s,background-color .4s;
  transition: border-color .4s,outline .4s,background-color .4s
}

.play-button-left {
  top: -50px;
  left: 10%;
}


.video-thumbnail {
  position: relative;
}

.card-content-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 400ms;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.video-thumbnail:hover .card-content-overlay {
  visibility: visible;
  opacity: 1;
}

.btn {
  border-radius: 0%;
}



//------------------Luke CSS ---------------------//

#my-video {
  border: 2px solid #424242;
}

.breadcrumb {
    border: 0;
    background-color: transparent;
  }

  .card-title {
    display: none;
  }

  .card {
    border: 1px solid #424242;
    background-color: #000;
  }

  .card:hover {
    cursor: pointer;
  }

  .card:hover .card-img {
    filter: brightness(60%);
    transition: 0.3s ease-in;
   }

  .show-row-first .card:hover .card-title {
    display: block;
    position: absolute;
    transition: 0.3s ease-in;
    color: #fff;
    z-index: 10;
    bottom: 0;
   }
   .card:hover .player-icon {
    transition: 0.3s ease-in;
    color: #DD2C00;
   }

     .media-img:hover {
   cursor: pointer;
  }

  .card-block:hover .media-img {
   filter: brightness(60%);
   transition: 0.3s ease-in;
   }

   .btn {
     border-color: #2196F3;
     color: #2196F3;
   }

  .media-img {
    border: solid 2px #424242;
  }

  .btn:hover  {
    background-color: #424242;
  }

  @media (min-width: 576px) and (max-width: 767px) {

    .player-icon  {
      position: absolute;
      left: 0;
      top: 0;
      padding: 10px 0 0 10px;
    }

    .card:hover {
      cursor: pointer;
    }

    .card:hover .card-img {
      filter: brightness(60%);
      transition: 0.3s ease-in;
    }

    .card:hover .card-title {
      display: block;
      position: absolute;
      transition: 0.3s ease-in;
      color: #fff;
      z-index: 10;
      bottom: 0;
    }

    .card:hover .player-icon {
      transition: 0.3s ease-in;
      color: #DD2C00;
    }
  }


  @media (min-width: 768px)  and (max-width: 992px) {

    .show-row-first {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      justify-content: space-around;
    }

  }

  @media (min-width: 992px) {

    .show-row-first {
      display: flex;
      overflow: hidden;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .card  {
      position: relative;
    }

    .show-row-first .player-icon  {
      position: absolute;
      left: 0;
      top: 0;
      padding: 10px 0 0 10px;
    }

    .more-content .card-title  {
      position: absolute;
      margin-bottom: 3px;
      bottom: 0;
      right: 0;
      padding-right: 5px;
    }

  }

  @media (max-width: 576px) {
    .container {
      width: 94%;
    }
  }

@media (min-width: 576px) and (max-width: 767px) {

  .container {
    margin-top: 15px;
    width: 90%;
  }
}


@media (max-width: 576px) {
  .container {
    width: 97%;
  }


  #my-video {
    height: 300px;
    margin: 0 5px 0 5px;
  }
}
