@import 'video';

body {
  background: black;
  color: white;
}

.video-section {
  background-color: black;
}

.video-wrapper {
  width: 100%;
  border: 1px solid #222;
}

.video-details {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .video-wrapper {
    width: 992px;
    max-width: 100%;
  }

  .video-details {
    max-width: 992px;
  }
}

.card-black {
  background: black;
  border-radius: 0px;
  margin-bottom: 2rem;
}

.card-content-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-line-left {
  flex-grow: 1;
  height: 1px;
  background: linear-gradient(to left, #0275d8 , #f0ad4e);
}

.section-line-right {
  flex-grow: 1;
  height: 1px;
  background: linear-gradient(to right, #0275d8 , #f0ad4e);
}

.section-line-center {
  flex-grow: 1;
  height: 1px;
  background: linear-gradient(to right, #f0ad4e, #0275d8, #f0ad4e);
}

.video-thumbnail:hover .thumbnail-play-button {
  background-color: #0275d8;
}

.thumbnail-play-button {
    margin-left: -1em;
    margin-top: -1em;
    width: 2em;
    height: 2em;
    border: none;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 8px;
    background-color: rgba(0,0,0,0.5);
    font-size: 1.2em;
    border-radius: 100%;
    -webkit-transition: border-color .4s,outline .4s,background-color .4s;
    -moz-transition: border-color .4s,outline .4s,background-color .4s;
    -ms-transition: border-color .4s,outline .4s,background-color .4s;
    -o-transition: border-color .4s,outline .4s,background-color .4s;
    transition: border-color .4s,outline .4s,background-color .4s
}

.play-button-right {
  top: -50px;
  left: 10%;
}


.video-thumbnail {
  position: relative;
}

.card-content-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 400ms;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.video-thumbnail:hover .card-content-overlay {
  visibility: visible;
  opacity: 1;
}

.btn {
  border-radius: 0%;
}
