{% assign videos = item_types.video %}
<div id="block_{{ current_block.id }}">
  <div class="mt-3 mb-5">
    <h3 class="more-episodes">Up Next</h3>
    <div class="show-row-first d-flex flex-row">

      {% for video in videos.items | limit: 3 %}
      <div class="card card h-25 w-25 card-inverse p-0">
        <img class="card-img img-fluid" src="http://res.cloudinary.com/duyqpnmgu/image/upload/v1491870113/sample.jpg" alt="Card image">
        <div class="card-img-overlay">
          <i class="fa fa-play-circle-o fa-2x float-left player-icon" aria-hidden="true"></i>
          <h4 class="card-title animated fadeIn">{{video.contents.title}}</h4>
        </div>
      </div>
      {% endfor %}
    </div>


    <h3 class="mt-5">More Shows</h3>
    <div class="more-content d-flex flex-row mb-4">
      {% for video in videos.items | limit: 6 %}
      <div class="card  h-25 w-25 card-inverse p-0">
        <img class="card-img img-fluid" src="{{video.contents.cover_art[0].source_url}}" alt="Card image">
        <div class="card-img-overlay">
          <h4 class="card-title animated fadeIn">Breaking Bad</h4>
          <button type="button" class="btn btn-secondary btn-sm">WATCH NOW</button>
        </div>
      </div>
      {% endfor %}


      <!-- <div class="card card h-25 w-25  card-inverse p-0">
        <img class="card-img img-fluid" src="img/walking-dead.jpg" alt="Card image">
        <div class="card-img-overlay w-100">
          <h4 class="card-title animated fadeIn">The Walking Dead</h4>
          <button type="button" class="btn btn-secondary btn-sm">WATCH NOW</button>
        </div>
      </div>
      <div class="card card h-25 w-25  card-inverse p-0 ">
        <img class="card-img img-fluid" src="img/humans.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h4 class="card-title animated fadeIn">Humans</h4>
          <button type="button" class="btn btn-secondary btn-sm">WATCH NOW</button>
        </div>
      </div>
    </div>
    <div class="more-content d-flex flex-row">
      <div class="card card h-25 w-25  card-inverse p-0">
        <img class="card-img img-fluid" src="img/madmen.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h4 class="card-title animated fadeIn">Madmen</h4>
          <button type="button" class="btn btn-secondary btn-sm">WATCH NOW</button>
        </div>
      </div>
      <div class="card card h-25 w-25  card-inverse p-0">
        <img class="card-img img-fluid" src="img/son.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h4 class="card-title animated fadeIn">The Son</h4>
          <button type="button" class="btn btn-secondary btn-sm">WATCH NOW</button>
        </div>
      </div>
      <div class="card card h-25 w-25  card-inverse p-0">
        <img class="card-img img-fluid" src="img/halt.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h4 class="card-title animated fadeIn">Halt and Catch Fire</h4>
          <button type="button" class=" btn btn-secondary btn-sm">WATCH NOW</button>
        </div>
      </div>
    </div> -->
  </div>
</div>
